@model Limada.UseCases.Cms.Models.ContentAndLinks
@using Limada.UseCases.Cms.Models
@section Head
{
    <link rel="stylesheet" href="/Content/pvem.css"/>
    <script type="text/javascript" src="/Scripts/pvem.js"></script>

    @Html.Raw("<script type=\"text/javascript\">")
    @Html.Raw("function load_full_mode(){")
    @{ var lastPage = Model.Leafs.LastOrDefault(); }
    @Html.Raw("var pages = {\"pics\":[")
    @foreach (var link in Model.Leafs) {
        @Html.Raw(String.Format("{{\"src\":\"{0}\"}}" + (link.Id == lastPage.Id ? "" : ","), HttpUtility.JavaScriptStringEncode(link.Id)));
    }
    @Html.Raw("]}")
    @Html.Raw("picture_viewer(pages);")
    @Html.Raw("} </script> ")
}
@section OnLoad
{
    load_full_mode()
}
@{

    Html.RenderPartial ("HeaderWithHrefs", Model.Roots);
    <div class="description">
        <h2>@Model.Content.Description</h2>
    </div>
    <div id="pics_er" />
        
   
}

